*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
*.apk
*.aab
*.keystore
node_modules/
firebase-debug.log
.firebase/
scripts/serviceAccountKey.json
scripts/node_modules/
keystore.properties
*.jks
/app/release/
app/*.jks
